@import 'src/common/styles/variables';
@import 'src/common/styles/fonts';

.container {
  background-color: $color-white;
  height: 90%;
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 12px;
  border-radius: 16px;
  border: $color-black solid 1px;

  .topLine {
    margin-top: 12px;
    margin-bottom: 8px;
    width: 100%;
  }

  .bottomLine {
    margin-top: 4px;
    margin-bottom: 6px;
    width: 100%;
  }

  .title {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    padding-top: 24px;
    padding-bottom: 16px;

    h3 {
      @include font-h6;
    }

    .closeIcon {
      height: 24px;
      width: 24px;
      position: absolute;
      top: 16px;
      right: 16px;
    }
  }
}
