@import 'src/common/styles/variables';
@import 'src/common/styles/fonts';

.loadingText {
  @include font-body;
  color: $color-alto-gray;
  text-align: center;
}

@mixin attributionStyle {
  display: flex;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: calc(100% + 5px);
  padding: 4px 6px;
  background-color: rgba($color: $color-light-gray, $alpha: 0.4);
  color: black;
  @include font-body-small;
}

.imgContainer {
  position: relative;
  img {
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    box-sizing: border-box;
    &:hover + .attribution {
      @include attributionStyle;
    }
  }

  .attribution {
    display: none;
    &:hover {
      @include attributionStyle;
    }
  }
}
.loadingContainers {
  animation-duration: 8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: $color-mid-gray;
  background: linear-gradient(
    to right,
    rgba($color-lightest-gray, 1) 0%,
    rgba($color-alto-gray, 1) 50%,
    rgba($color-lightest-gray, 1) 100%
  );
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
