@import 'src/common/styles/variables';
@import 'src/common/styles/fonts';

.loadingText {
  @include font-body;
  color: $color-alto-gray;
  text-align: center;
}

.imgContainer {
  position: relative;
  img {
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    box-sizing: border-box;
  }

  &:hover .attribution {
    display: flex;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: calc(100% + 5px);
    padding: 4px 6px;
    background-color: rgba($color: $color-light-gray, $alpha: 0.4);
    color: black;
    @include font-body-small
  }
}
