@import 'src/common/styles/fonts';
@import 'src/common/styles/variables';
@import 'src/common/styles/mixins';

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  .buttonContainer {
    justify-items: right;
    .publish {
      @include button;
      align-self: flex-end;
      background-color: $color-yellow;
      border: none;
      
    }
    .saveDraft {
      @include button;
      background-color: $color-malibu;
      margin-right: 0px;
      margin-bottom: 8px;
      @media (min-width: 570px) {
        margin-bottom: 0px;
        margin-right: 16px;

      }
    }
  }
}

.createTemplate {
  display: flex;
  flex-direction: column;
  margin: 28px 24px;
  @media (min-width: $tablet) {
    margin: 28px 128px;
  }

  @media (min-width: $desktop) {
    margin: 56px 192px;
  }

  @media (min-width: $bigScreen) {
    margin: 56px 396px;
  }

  h1 {
    @include text-style('font-title', 'regular', 'title-xl');
    @media (min-width: $tablet) {
      @include text-style('font-title', 'regular', 'title-xxxl');
    }
  }
  h2 {
    margin-top: 24px;
    @include text-style('font-main', 'regular', 'body');
    @media (min-width: $tablet) {
      @include text-style('font-main', 'semibold', 'title-l');
    }
  }

  header {
    p {
      margin-top: 8px;
      max-width: 720px;
      line-height: 26px;
      @include text-style('font-main', 'regular', 'body-s');
      strong {
        @include text-style('font-main', 'bold', 'body-s');
      }

      @media (min-width: $tablet) {
        @include text-style('font-main', 'regular', 'body');
        strong {
          @include text-style('font-main', 'bold', 'body');
        }
      }
    }
  }

  .createForm {
    align-self: center;
    max-width: 688px;
    p {
      margin-top: 8px;
      @include text-style('font-main', 'regular', 'body-s');

      @media (min-width: $tablet) {
        @include text-style('font-main', 'regular', 'body-s');
      }
    }
  }
  .imageBox {
    height: 240px;
    width: 100%;
    margin-bottom: 24px;
    margin-top: 40px;
    border: 1px dashed #000;
    border-radius: 16px;
    background: #f8f8f8;
    position: relative;
    img {
      border-radius: 16px;
      height: 240px;
      object-fit: cover;
      width: 100%;
      z-index: 1;
      border: 0;
    }
    button {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      @include font-button;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      border: none;
    }
    svg {
      margin-bottom: 12px;
      align-self: center;
    }
  }

  .errorMessage {
    @include text-style('font-main', 'regular', 'meta');
    color: #f44336;
    margin-left: 14px;
  }
}
.MuiTextField-root {
  margin-top: 18px;
}

.uploadButton {
  border: $color-light-gray solid 1px;
  padding: 16px 24px;
  border-radius: 8px;
  margin-top: 16px;
}

.loading {
  position: fixed;
  bottom: 16px;
  left: 50%;
  padding: 16px 18px;
  border-radius: 6px;
  animation: pulse 4s infinite ease-out;

  p {
    margin: 0;
    color: $color-white;
  }
}

@keyframes pulse {
  0% {
    background-color: $color-darker-gray;
  }
  50% {
    background-color: $color-light-gray;
  }
  100% {
    background-color: $color-darker-gray;
  }
}

.error {
  position: fixed;
  bottom: 16px;
  left: 50%;
  padding: 16px 18px;
  border-radius: 6px;
  border: solid 1px $color-red;
  background-color: $color-white;

  p {
    margin: 0;
    color: $color-red;
  }
}

.authModal {
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: calc(100% - 52px);
  backdrop-filter: blur(3px);
  background-color: rgba($color: $color-dove-gray, $alpha: 0.4);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
