@import 'src/common/styles/fonts';
@import 'src/common/styles/variables';

@mixin more {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  h4 {
    color: $color-dark-gray;
    letter-spacing: 0.075em;
    margin-right: 12px;
  }
}

.templatePreview {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  border: solid 1px $color-black;
  border-radius: 18px;
  padding: 32px 32px 0px 32px;
  margin-bottom: 16px;
  &:active {
    background-color: rgba($color: $color-dove-gray, $alpha: 0.3);
  }
}
.image {
  height: 72px;
  width: 72px;
  border-radius: 8px;
  @media (min-width: $tablet) {
    border-radius: 18px;
    height: 198px;
    width: 208px;
    margin-bottom: 32px;
  }
}
.top {
  display: flex;
  flex: 1;
  flex-direction: row;
}
.titleMeta {
  width: 100%;
  padding-left: 32px;
  display: flex;
  flex-direction: column;
  h2 {
    margin: 0;
    @include text-style('font-main', 'semibold', 'body');
    @media (min-width: $tablet) {
      @include text-style('font-main', 'semibold', 'title-l');
    }
  }
  @media (min-width: $tablet) {
    padding-bottom: 32px;
  }
}

.meta {
  display: flex;
  flex-direction: row;
  margin-top: 8px;

  @media (min-width: $tablet) {
    margin-top: 12px;
  }
  p {
    @include text-style('font-main', 'medium', 'meta');
    letter-spacing: 0.075em;
    padding-right: 16px;
    margin-top: 2px;
  }
  img {
    padding-right: 8px;
  }
}

.bodyMobile {
  
  @media (min-width: $tablet) {
    display: none;
  }
  h3 {
    margin-top: 12px;
    @include text-style('font-main', 'semibold', 'meta');
    letter-spacing: 0.075em;
  }
  p {
    margin-top: 16px;
    @include text-style('font-main', 'regular', 'body-s');
  }
}

.bodyDesktop {
  justify-content: stretch;
  @media (max-width: $tablet) {
    display: none;
  }
  h3 {
    margin-top: 8px;
    @include text-style('font-main', 'semibold', 'meta');
    letter-spacing: 0.075em;
  }
  p {
    margin-top: 16px;
    @include text-style('font-main', 'regular', 'body-s');
  }
}

.moreDesktop {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  h4 {
    color: $color-dark-gray;
    letter-spacing: 0.075em;
    margin-right: 12px;
  }
  @include text-style('font-main', 'semibold', 'body');
  @media (max-width: $tablet) {
    display: none;
  }
  position: absolute;
  bottom: 32px;

  padding-top: 42px;
  h4,
  img {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.moreMobile {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  h4 {
    color: $color-dark-gray;
    letter-spacing: 0.075em;
    margin-right: 8px;
    margin-top: 2px;
  }
  @include text-style('font-main', 'semibold', 'body-s');
  padding-bottom: 16px;
  margin-top: 16px;
  margin-right: -8px;
  @media (min-width: $tablet) {
    display: none;
  }
}
