@font-face {
  font-family: 'Raleway';
  src: local('Raleway Regular'), local('Raleway-Regular'),
    url('./fonts/Raleway/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
    url('./fonts/Raleway/Raleway-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Yeseva_One';
  src: local('Yeseva One Regular'), local('YesevaOne-Regular'),
    url('./fonts/Yeseva_One/YesevaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open_Sans';
  src: local('Open Sans Light'), local('OpenSans-Light'),
    url('./fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

$font-weights: (
  'light': 300,
  'regular': 400,
  'medium': 500,
  'semibold': 600,
  'bold': 700,
);

$font-sizes: (
  'meta': 12px,
  'body-s': 14px,
  'body': 18px,
  'title-l': 24px,
  'title-xl': 32px,
  'title-xxl': 36px,
  'title-xxxl': 42px,
);

$font-families: (
  'font-title': 'Yeseva_One',
  'font-main': 'Raleway',
  'font-other': 'Open_Sans'
);

@mixin text-style($font-family, $weight, $size) {
  font-family: map-get($font-families, $font-family);
  font-weight: map-get($font-weights, $weight);
  font-size: map-get($font-sizes, $size);
}
