@mixin button {
  border-radius: 6px;
  color: $color-white;
  padding: 12px 24px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.06);
  @include text-style('font-main', 'semibold', 'body-s');
  letter-spacing: 0.03em;
  z-index: 1;
  &:hover {
    box-shadow: 3px 3px 6px rgba(207, 207, 207, 0.8);
  }
  &:active {
    opacity: 0.9;
  }

  @media (min-width: $mobile) {
    letter-spacing: 0.05em;
    padding: 16px 24px;

  }
  @media (min-width: $desktop) {
    @include text-style('font-main', 'semibold', 'body-s');
    padding: 20px 24px;
  }
}

@mixin button-no-shadow {
  border-radius: 6px;
  color: $color-white;
  padding: 8px 16px;
  @include text-style('font-main', 'semibold', 'body-s');
  letter-spacing: 0.03em;
  z-index: 1;

  &:active {
    opacity: 0.9;
  }

  @media (min-width: $mobile) {
    padding: 8px 24px;
    letter-spacing: 0.05em;
  }
  @media (min-width: $desktop) {
    @include text-style('font-main', 'semibold', 'body-s');
    padding: 10px 28px;
  }
}
