@import 'src/common/styles/fonts';
@import 'src/common/styles/variables';
@import 'src/common/styles/mixins';

.containerStyle {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 160px;
  border: 1px solid $color-light-gray;
  border-radius: 8px;
  margin-top: 16px;
  padding: 16px;
  &.containerStyleError {
    border: 1px solid $color-red;
  }
  .emailList {
    padding: 8px 0px;
    display: flex;
    flex-wrap: wrap;
  }
  .addButton {
    border: 1px solid $color-mid-gray;
    padding: 1px 4px 1px 4px;
    border-radius: 4px;
    color: $color-dove-gray;
    background-color: $color-white;
    &:active {
      background-color: $color-lightest-gray;
    }
  }
}
.errorText {
  font-size: 12px;
  font-family: 'Raleway';
  font-weight: 400;
  color: $color-red;
  margin-left: 14px;
  margin-top: 8px;
}
