@import 'src/common/styles/fonts';
@import 'src/common/styles/variables';
@import 'src/common/styles/mixins';

.container {
  height: 240px;
  width: 100%;
  margin-bottom: 24px;
  margin-top: 40px;
  border: 1px dashed #000;
  border-radius: 16px;
  background: #F8F8F8;

  p {
    margin: 12px;
    @include text-style('font-main', 'regular', 'body');
    color: rgba(0, 0, 0, 0.87);
  }
  input {
    &:active {
      outline: none;
    }
  }
}

.thumbsContainer {
  position: relative;
  button {
    position: absolute;
    bottom: 16px;
    right: 16px;
    background-color: $color-dove-gray;
    @include button-no-shadow
  }
}


.img {
  border-radius: 16px;
  height: 240px;
  object-fit: cover;
  width: 100%;
}
