@import './../../../../styles/variables';
@import './../../../../styles/fonts';

.container {
  align-self: center;
  z-index: 10;
  .buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    &:focus {
      outline: none;
    }
  }
  .profilePic {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    align-self: center;
    margin-right: 12px;
  }

  p {
    @include font-button;
    margin-right: 16px;
  }
}
