@import 'src/common/styles/variables';
@import 'src/common/styles/fonts';
@import 'src/common/styles/mixins';

.loadingSuccessErrorModal {
  display: flex;
  flex-direction: column;
  border: solid 1px $color-black;
  border-radius: 16px;
  padding: 32px 32px 36px 32px;
  margin: 0px 8px;
  background-color: $color-white;
  position: relative;

  p {
    margin-top: 8px;
    @include text-style('font-main', 'regular', 'body-s');
  }
  .buttonText {
    align-self: center;
    margin-left: 16px;
  }
}

.modalTitle {
  line-height: 32px;
  @include text-style('font-title', 'regular', 'title-xl');
  @media (min-width: $tablet) {
    line-height: 36px;
    @include text-style('font-title', 'regular', 'title-xxl');
  }
}

.closeIcon {
  position: absolute;
  padding: 8px;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  border-radius: 50%;
  &:active {
    background-color: $color-light-gray;
  }
  &:focus {
    outline: none;
  }
}

.loadingSuccessErrorModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.creatingTitle {
  line-height: 32px;
  @include text-style('font-title', 'regular', 'title-xl');
  @media (min-width: $tablet) {
    line-height: 36px;
    @include text-style('font-title', 'regular', 'title-xxl');
  }
}

.creatingDescription {
  margin-bottom: 16px;
  line-height: 14px;
  margin-top: 4px;
}

.browseButton {
  margin-top: 24px;
  @include button-no-shadow;
  background-color: $color-malibu;
}

.loadingBar {
  margin-top: 8px;
  margin-bottom: 4px;
  width: 100%;
  height: 48px;
  border: 1px #000 solid;
  border-radius: 4px;
  position: relative;
  background: linear-gradient(
      45deg,
      transparent 49%,
      #000 50%,
      #000 50%,
      transparent 51%,
      transparent
    ),
    linear-gradient(
      -45deg,
      transparent 49%,
      #000 50%,
      #000 50%,
      transparent 51%,
      transparent
    );
  background-size: 16px 16px;
  background-position: 0% 0%;
  -webkit-animation: loadingBar 1s infinite linear;
  animation: loadingBar 1s infinite linear;
}
@-webkit-keyframes loadingBar {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -16px 0px;
  }
}
@keyframes loadingBar {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -16px 0px;
  }
}
