@import 'src/common/styles/fonts';
@import 'src/common/styles/variables';

.container {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  position: relative;
  h1 {
    @include text-style('font-main', 'regular', 'body');

    @media (min-width: $tablet) {
      @include text-style('font-main', 'regular', 'title-l');
    }
    @media (min-width: $desktop) {
      @include text-style('font-main', 'regular', 'title-xl');
    }
    @media (min-width: $bigScreen) {
      @include text-style('font-main', 'regular', 'title-xxl');
    }
  }
}

.homeSection1 {
  width: 100%;
}

.homeBackgroundImage {
  width: 90vw;
  position: absolute;
  right: 0;
  z-index: -1;
  top: 56px;
  @media (min-width: $tablet) {
    top: 32px;
  }
  @media (min-width: $desktop) {
    top: 0px;
    width: 64vw;
  }
  @media (min-width: $bigScreen) {
    top: 0px;
    width: 50vw;
    margin-top: -96px;
  }
}

.homePageTitle {
  padding-top: 10vw;
  padding-left: 10vw;
  justify-content: flex-start;
  align-content: stretch;
  @media (min-width: $desktop) {
    padding-top: 72px;
    padding-left: 72px;
  }
  @media (min-width: 1200px) {
    padding-top: 96px;
    padding-left: 96px;
  }
  @media (min-width: $bigScreen) {
    padding-top: 380px;
    padding-left: 220px;
  }  
  @media (min-width: $hugeScreen) {
    padding-top: 440px;
    padding-left: 270px;
  }
  @media (min-width: 2200px) {
    padding-top: 440px;
    padding-left: 300px;
  }
}

.buttonSection1 {
  margin-top: 16px;
  margin-left: 10vw;
  border-radius: 6px;
  background-color: $color-malibu;
  color: $color-white;
  box-shadow: 3px 3px 6px rgba(207, 207, 207, 0.8);
  padding: 8px 24px;
  @include text-style('font-main', 'semibold', 'body-s');
  letter-spacing: 0.05em;
  z-index: 1;
  &:focus {
    outline: none;
  }
  &:hover {
    opacity: 0.9;
  }
  @media (min-width: $desktop) {
    margin-left: 72px;
    @include text-style('font-main', 'semibold', 'body');
    padding: 10px 28px;
    margin-top: 24px;
  }
  @media (min-width: 1200px) {
    margin-left: 96px;
  }  
  @media (min-width: $bigScreen) {
    margin-left: 220px;
  }
  @media (min-width: $hugeScreen) {
    margin-left: 270px;
  }
  @media (min-width: 2200px) {
    margin-left: 300px;
  }
}

.homeSection2 {
  position: relative;
  top: 156px;
  right: 0;
  width: 100%;
  @media (min-width: $bigMobile) {
    top: 164px;
  }
  @media (min-width: $tablet) {
    top: 196px;
  }
  @media (min-width: $toTablet) {
    top: 230px;
  }
  @media (min-width: $desktop) {
    top: 80px;
  }
  @media (min-width: $bigScreen) {
    top: 0px;
  }
}

.homeBackgroundImage2 {
  width: 90vw;
  position: absolute;
  top: 24px;
  left: 0;
  margin-left: -32px;
  z-index: -1;
  @media (min-width: $desktop) {
    margin-left: 0;
    width: 54vw;
  }
  
  @media (min-width: $bigScreen) {
    margin-left: 0;
    width: 42vw;
    margin-top: -256px;
  }

  @media (min-width: $bigScreen) {
    margin-left: 0;
    width: 50vw;
    margin-top: -256px;
  }
  @media (min-width: $hugeScreen) {
    margin-left: 0;
    width: 42vw;
    margin-top: -256px;
  }
}


.homeSection2Content {
  position: absolute;
  right: 10vw;
  top: 130px;

  @media (min-width: 375px) {
    top: 172px;
  }  
  @media (min-width: 410px) {
    top: 210px;
  }

  @media (min-width: $bigMobile) {
    top: 272px;
  }
  @media (min-width: $toTablet) {
    top: 480px;
  }
  @media (min-width: 550px) {
    top: 400px;
  }
  @media (min-width: $desktop) {
    top: 664px;
    right: 72px;
  }
  @media (min-width: 1200px) {
    top: 780px;
    right: 128px;
  }
  @media (min-width: $bigScreen) {
    top: 700px;
    right: 240px;
  }
  @media (min-width: $hugeScreen) {
    top: 600px;
    right: 350px;
  }
  @media (min-width: 2000px) {
    top: 800px;
    right: 350px;
  }
  @media (min-width: 2200px) {
    top: 900px;
    right: 420px;
  }
  @media (min-width: 2400px) {
    top: 1000px;
    right: 420px;
  }
}

.buttonSection2 {
  margin-top: 16px;
  border-radius: 6px;
  background-color: $color-tangerine;
  color: $color-white;
  box-shadow: 3px 3px 6px rgba(207, 207, 207, 0.8);
  padding: 8px 24px;
  @include text-style('font-main', 'semibold', 'body-s');
  letter-spacing: 0.05em;
  &:focus {
    outline: none;
  }
  &:hover {
    opacity: 0.9;
  }
  @media (min-width: $desktop) {
    @include text-style('font-main', 'semibold', 'body');
    padding: 10px 28px;
    margin-top: 24px;
  }
}

.howItWorks {
  position: absolute;
  top: 950px;
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: 375px) {
    top: 1040px;
  }

  @media (min-width: $mobile) {
    top: 1060px;
  }

  @media (min-width: $bigMobile) {
    top: 1220px;
  }

  @media (min-width: $tablet) {
    top: 1760px;
  }
  @media (min-width: $toTablet) {
    top: 1780px;
  }
  @media (min-width: 800px) {
    top: 1950px;
  }
  @media (min-width: 900px) {
    top: 2100px;
  }
  @media (min-width: $desktop) {
    top: 1400px;
  }
  @media (min-width: 1200px) {
    top: 1660px;
  }
  @media (min-width: 1300px) {
    top: 1700px;
  }
  @media (min-width: $bigScreen) {
    top: 1750px;
  }
  @media (min-width: $hugeScreen) {
    top: 1900px;
  }
  @media (min-width: 2000px) {
    top: 2100px;
  }
  @media (min-width: 2200px) {
    top: 2300px;
  }
  @media (min-width: 2400px) {
    top: 2400px;
  }
}
