@import 'src/common/styles/fonts';
@import 'src/common/styles/variables';

.container {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  position: relative;
  h1 {
    @include font-headline-5;
    width: 276px;

    @media (min-width: $desktop) {
      width: 532px;
      @include font-headline-2;
    }
  }
  p {
    @include font-body-mid;
    width: 276px;
    margin-top: 8px;
    @media (min-width: $desktop) {
      width: 532px;
      @include font-headline-6;
    }
  }
}

.homeSection1 {
  width: 100%;
}

.homeBackgroundImage {
  width: 90vw;
  position: absolute;
  right: 0;
  z-index: -1;
  top: 128px;
  @media (min-width: $tablet) {
    top: 32px;
  }
  @media (min-width: $desktop) {
    top: 172px;
    width: 64vw;
  }
  @media (min-width: $bigScreen) {
    top: 100px;
    width: 72vw;
  }
  @media (min-width: $hugeScreen) {
    top: 0px;
    width: 52vw;
  }
  @media (min-width: 2200px) {
    top: 50px;
    width: 50vw;
  }
}

.homeTopContent {
  padding-top: 10vw;
  margin-left: 10vw;
  justify-content: flex-start;
  align-content: stretch;
  width: 532px;
  @media (min-width: $desktop) {
    padding-top: 72px;
    margin-left: 72px;
  }
  @media (min-width: 1200px) {
    padding-top: 96px;
    margin-left: 96px;
  }
  @media (min-width: $bigScreen) {
    padding-top: 120px;
    margin-left: 160px;
  }
  @media (min-width: $hugeScreen) {
    padding-top: 120px;
    margin-left: 140px;
  }
  @media (min-width: 2200px) {
    padding-top: 200px;
    margin-left: 200px;
  }
}

.homeSection2 {
  position: relative;
  top: 156px;
  right: 0;
  width: 100%;
  @media (min-width: $bigMobile) {
    top: 164px;
  }
  @media (min-width: $tablet) {
    top: 196px;
  }
  @media (min-width: $toTablet) {
    top: 230px;
  }
  @media (min-width: $desktop) {
    top: 80px;
  }
  @media (min-width: $bigScreen) {
    top: 400px;
  }
}

.homeBackgroundImage2 {
  width: 90vw;
  position: absolute;
  top: 180px;
  left: 0;
  margin-left: -32px;
  z-index: -1;
  @media (min-width: $desktop) {
    margin-left: 0;
    margin-top: 300px;
    width: 60vw;
  }

  @media (min-width: $bigScreen) {
    top: 96px;
    margin-left: 0;
    width: 42vw;
    margin-top: -256px;
  }

  @media (min-width: $bigScreen) {
    margin-left: 0;
    width: 46vw;
    margin-top: -100px;
  }
  @media (min-width: $hugeScreen) {
    margin-left: 0;
    width: 42vw;
    margin-top: -300px;
  
  }

  @media (min-width: 2000px) {
    margin-left: 0;
    width: 42vw;
    margin-top: -320px;
  }
}

.homeSection2Content {
  position: absolute;
  right: 5vw;
  top: 190px;

  max-width: 532px;


  @media (min-width: 410px) {
    top: 240px;
  }

  @media (min-width: $bigMobile) {
    top: 320px;
  }
  @media (min-width: 550px) {
    top: 400px;
  }
  @media (min-width: $toTablet) {
    top: 520px;
  }

  @media (min-width: $desktop) {
    top: 580px;
    right: 36px;
    p {
      @include font-headline-6;
    }
  }
  @media (min-width: 1200px) {
    top: 780px;
    right: 128px;
  }
  @media (min-width: $bigScreen) {
    top: 700px;
    right: 120px;
  }
  @media (min-width: $hugeScreen) {
    top: 700px;
    right: 180px;
  }
  @media (min-width: 2000px) {
    top: 700px;
    right: 300px;
  }
  @media (min-width: 2200px) {
    top: 850px;
    right: 420px;
  }
  @media (min-width: 2400px) {
    top: 1000px;
    right: 420px;
  }
}

.buttonSection2 {
  margin-top: 16px;
  border-radius: 6px;
  background-color: $color-yellow;
  color: $color-white;
  box-shadow: 3px 3px 6px rgba(207, 207, 207, 0.8);
  padding: 8px 24px;
  @include text-style('font-main', 'semibold', 'body-s');
  letter-spacing: 0.05em;
  z-index: 100;
  &:focus {
    outline: none;
  }
  &:hover {
    opacity: 0.9;
  }
  @media (min-width: $desktop) {
    @include text-style('font-main', 'semibold', 'body');
    padding: 10px 28px;
    margin-top: 24px;
  }
}

.howItWorks {
  position: absolute;
  top: 950px;
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: 375px) {
    top: 1040px;
  }

  @media (min-width: $mobile) {
    top: 1060px;
  }

  @media (min-width: $bigMobile) {
    top: 1220px;
  }

  @media (min-width: $tablet) {
    top: 1760px;
  }
  @media (min-width: $toTablet) {
    top: 1780px;
  }
  @media (min-width: 800px) {
    top: 1950px;
  }
  @media (min-width: 900px) {
    top: 2100px;
  }
  @media (min-width: $desktop) {
    top: 2100px;
  }
  @media (min-width: 1200px) {
    top: 1660px;
  }
  @media (min-width: 1300px) {
    top: 1700px;
  }
  @media (min-width: $bigScreen) {
    top: 2200px;
  }
  @media (min-width: $hugeScreen) {
    top: 2100px;
  }
  @media (min-width: 2000px) {
    top: 2200px;
  }
  @media (min-width: 2200px) {
    top: 2300px;
  }
  @media (min-width: 2400px) {
    top: 2600px;
  }
}
