@import 'src/common/styles/fonts';
@import 'src/common/styles/variables';

.howItWorks {
  display: flex;
  flex-direction: column;
  @media (min-width: $tablet) {
    text-align: center;
    justify-self: stretch;
  }
}
.sectionTitle {
  margin-left: 24px;
  @include text-style('font-title', 'semibold', 'title-l');
  @media (min-width: $tablet) {
    margin-bottom: 24px;
    @include text-style('font-title', 'semibold', 'title-xl');
  }
  @media (min-width: $bigScreen) {
    margin-bottom: 24px;
    @include text-style('font-title', 'semibold', 'title-xxl');
  }
}

.howItWorksList {
  list-style: none;
  padding: 24px 24px;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    height: 80px;
    border: 1px solid #efefef;
    box-shadow: 2px 2px 48px rgba(0, 0, 0, 0.04),
      0px 4px 32px rgba(0, 0, 0, 0.06);
    border-radius: 8px;

    @media (min-width: $tablet) {
      width: 202px;
      height: 237px;
      flex-direction: column;
      margin-right: 16px;
      margin-bottom: 16px;
      align-items: flex-start;
    }

    p {
      margin-bottom: 0;
    }
    .listItemIcon {
      height: 64px;
      width: 64px;
      margin: 8px 16px 8px 16px;
      object-fit: fill;

      @media (min-width: $tablet) {
        margin-top: 24px;
        height: 120px;
        width: 120px;
        padding: 0px;
        align-self: center;
        margin-left: 0px;
        margin-right: 0px;
      }
    }
    .listItemContent {
      @include font-body-large;
      text-align: left;
      margin-right: 16px;
      @media (min-width: $tablet) {
        @include font-body-mid;
        margin: 16px 8px 24px 8px;
        text-align: center;
        align-self: stretch;
      }
    }
  }
}
