@import './../../../../styles/variables';

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.children {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-grow: 1;
}

.authModal{
  position: absolute;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(3px);
  background-color: rgba($color: $color-dove-gray , $alpha: 0.4);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
