@import 'src/common/styles/variables';
@import 'src/common/styles/fonts';

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 36px;

  .horizontalScrollView {
    margin: 2px -6px 0px -6px;
    overflow: scroll;
    white-space: nowrap;
    -ms-overflow-style: none;
    flex-shrink: 2;
  }

  .categoryItem {
    border: none;
    background: none;
    @include font-button;
    text-transform: capitalize;
    letter-spacing: 0.05em;
    margin: 0px 16px 0px 16px;
    color: #a3a3a3;

    &.categoryItemSelected {
      color: $color-black;
    }
  }

  .selectionIndicator {
    height: 2px;
    width: calc(100% + 8px);
    margin-left: -4px;
    margin-top: 2px;
    background-color: $color-black;
  }

  .leftMoreIcon {
    flex-basis: 20px;
    transform: rotate(180deg);
    background-color: transparent;

    @media (min-width: $tablet) {
      display: none;
    }
  }
  .rightMoreIcon {
    flex-basis: 20px;
    z-index: 1;
    @media (min-width: $tablet) {
      display: none;
    }
  }
}

::-webkit-scrollbar {
  display: none;
}
