@import 'src/common/styles/fonts';
@import 'src/common/styles/variables';
@import 'src/common/styles/mixins';

.containerStyle {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 104px;
  border: 1px solid $color-light-gray;
  border-radius: 8px;
  margin-top: 16px;
  padding: 16px;

  &.containerStyleError {
    border: 1px solid $color-red;
  }

  .mainAimOutcomeList {
    padding: 8px 0px;
    display: flex;
    flex-wrap: wrap;
  }
}
.errorTextAims {
  font-size: 12px;
  font-family: 'Raleway';
  font-weight: 400;
  color: $color-red;
  margin-left: 14px;
  margin-top: 8px;
}
