@import './../../../../styles/variables';
@import './../../../../styles/fonts';
@import './../../../../styles/mixins';

.container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 3px 6px rgba(207, 207, 207, 0.2);
  position: sticky;
  min-height: 52px;
}

.onGatherLogo {
  margin-left: 24px;
  line-height: 0;
  padding: 0;
  cursor: pointer;
  @include text-style('font-title', 'regular', 'title-l');

  @media (min-width: $desktop) {
    margin-left: 4rem;
    @include text-style('font-title', 'regular', 'title-xl');
  }

  &:active {
    opacity: 70%;
  }
}

.topNavRight {
  display: flex;
  flex-direction: row;
  margin-right: 24px;
  @media (min-width: $desktop) {
    margin-right: 4rem;
  }
}

.signInButton {
  @include button-no-shadow;
  background-color: $color-yellow;
  margin: 8px 8px 8px;
}

.topNavButton {
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  @include button-no-shadow;
  background-color: $color-malibu;
  border: none;
  margin: 8px 24px 8px;
  padding: 8px 6px;

  &:active {
    background-color: $color-alto-gray;
    opacity: 50%;
  }
  p {
    padding: 0;
    margin: 0;
  }
  &.topNavItemSelected {
    color: $color-mid-gray;
  }
}
