@import 'src/common/styles/fonts';
@import 'src/common/styles/variables';

.container {
  display: flex;
  flex: 1;
  justify-content: stretch;
  flex-direction: column;
  align-content: center;

  margin: 28px 24px;
  @media (min-width: $tablet) {
    margin: 28px 64px;
  }

  @media (min-width: $desktop) {
    margin: 56px 120px;
  }

  @media (min-width: $bigScreen) {
    margin: 56px 160px;
  }

  h1 {
    @include text-style('font-title', 'regular', 'title-l');
    @media (min-width: $tablet) {
      @include text-style('font-title', 'regular', 'title-xxl');
    }
  }
  .browserDescription {
    max-width: 650px;
    margin-top: 12px;

    line-height: 26px;
    letter-spacing: 0.25px;
    @include font-body;

    @media (min-width: $tablet) {
      @include font-body-large;
    }
  }
}
.templates {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
}
