@import 'src/common/styles/mixins-modal';

.permissionModal {
  @include modal-basic-styles;

  .modalButton {
    @include modal-button;
  }
  .rational {
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 8px;
    line-height: 16px;
  }
  .closeIcon {
    @include modal-close-button;
  }
}


