@import 'src/common/styles/fonts';
@import 'src/common/styles/variables';
@import 'src/common/styles/mixins';

.container {
  display: flex;
  flex-direction: column;
  margin: 28px 24px;
  @media (min-width: $tablet) {
    margin: 28px 128px;
  }

  @media (min-width: $desktop) {
    margin: 56px 192px;
  }

  @media (min-width: $bigScreen) {
    margin: 56px 396px;
  }

  h1 {
    margin-bottom: 36px;
    @include text-style('font-title', 'regular', 'title-xl');
    @media (min-width: $tablet) {
      @include text-style('font-title', 'regular', 'title-xxxl');
    }
  }

  h2 {
    padding-top: 4px;
    margin-bottom: 32px;
    @include text-style('font-main', 'semibold', 'title-l');
    @media (min-width: $tablet) {
      @include text-style('font-main', 'semibold', 'title-xl');
    }
  }
  section {
    margin-bottom: 24px;
  }
  .draftTitle {
    display: flex;
    justify-content: space-between;
  }

  .createTemplateButton {
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    color: $color-white;
    box-shadow: 3px 3px 6px rgba(207, 207, 207, 0.8);
    background-color: $color-malibu;
    &:hover {
      opacity: 0.9;
    }
    &:focus {
      outline: none;
    }

    div {
      letter-spacing: 0.03em;
      padding: 8px 8px 8px 16px;
      @include text-style('font-main', 'semibold', 'body-s');
     
      @media (min-width: $desktop) {
        padding: 10px 8px 10px 24px;
        letter-spacing: 0.05em;
        @include text-style('font-main', 'semibold', 'body-s');
      }
    }

    img {
      height: 16px;
      width: 16px;
      align-self: center;
      margin-right: 16px;
    
      @media (min-width: $desktop) {
        margin-right: 24px;
      }
    }
  }
}
