@import './common/styles/fonts';
@import './common/styles/reset';

body {
  @include text-style('font-main', 'regular', 'body');
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  > .container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    > div:first-of-type {
      flex-grow: 1;
      width: 100vw;
    }
  }
  padding: 0;
}
