@import 'src/common/styles/variables';
@import 'src/common/styles/fonts';
@import 'src/common/styles/mixins';

.container {
  display: flex;
  justify-content: center;
}

.inputContainer {
  display: flex;
  flex: 1 0;
  align-items: center;
  padding: 8px 12px;

  .searchIcon {
    margin-right: 16px;
    height: 24px;
    display: flex;
    flex: 0 0;
  }

  input {
    @include font-body;
    color: $color-darker-gray;
    border: none;
    display: flex;
    flex: 1 0;
    outline: none;
  }

  input::placeholder {
    color: $color-mid-gray;
  }

  .closeIcon {
    display: none;
    margin-left: 8px;
    height: 10px;

    &.show {
      display: block;
    }
  }
}
